################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/GRS SYNC/v14/.suo
/smartoffice 09 Jan 2020.sql
/smartoffice-09 Jan 2020.zip
